// Code formatting.

.td-content {
	// Highlighted code.
    .highlight {
        @extend .card;
	
        margin: 2rem 0;
        padding: 0;
	    
        pre {
            margin: 0;
            padding: 1rem;
        }
    }

    // Inline code
    p code, li > code, table code {
        color: inherit;
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        word-break: normal;
        background-color: rgba($black, 0.05);
        border-radius: $border-radius;

        br {
            display: none;
        }
    }


    // Code blocks
    pre {
        word-wrap: normal;
        background-color: $gray-100;
        padding: $spacer;
     

        > code {
	    background-color: inherit !important;
            padding: 0;
            margin: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre;
            border: 0;
        }
    }

    pre.mermaid {
        background-color: inherit;
        font-size: 0;
    }
}

.col-big-desktop {
  @include very-very-big-desktop {
    padding-left: 600px;
    padding-right: 300px;
  }
}

.td-box {
  h2, p.lead.mt-2 {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .col-md-9 {
    padding-left: 0;
  }

  .mx-auto.mt-5 {
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: row;
  }
}



.quick-starts {
    background: $light_grey;
  
    .col-md-2-4 {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
    @media (min-width: 920px) {
      .col-md-2-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
      }
    }

    .start-locally-col {
      margin-bottom: rem(20px);
      padding-left: 30px;
      padding-right: 30px;
      .row.interface,
      .row.os,
      .row.country,
      .row.platform {
        margin-bottom: rem(20px);
        @include desktop {
          margin-bottom: 0;
        }
      }

      @include small-desktop {
        flex: 0 0 100%;
        max-width: 100%;
      }
  
      @include desktop {
        margin-bottom: rem(40px);
  
        .row {
          margin-bottom: 0;
        }
      }
  
      @include max-width-desktop {
        margin-bottom: 0;

      }
  
      pre {
        font-size: 80% !important;
        background-color: #ffffff !important;
      }
  
      .prev-versions-btn {
        margin-top: 30px;
      }
    }
  

  
    .option {
      border: 2px solid $light_grey;
      padding: rem(10px);
      font-size: rem(16px);
      color: $dark_grey;
      letter-spacing: -0.22px;
      line-height: rem(20px);
      background: $white;
      cursor: pointer;
    }
  
    .option:hover {
      background-color: $command_block_black;
      color: $white;
    }
  
    .selected {
      background-color: $command_block_black;
      color: $white;
    }
  
    .block {
      margin-bottom: rem(1px);
      // height: rem(45px);
      display: flex;
      align-items: center;

      @media (max-width: 520px) {
        height: rem(65px);
        min-width: 160px;
      }
    }
  
    .title-block {
      margin: rem(1px);
      height: rem(45px);
      border: 2px solid $light_grey;
      font-size: rem(16px);
      color: $dark_grey;
      line-height: rem(20px);
      display: flex;
      align-items: center;
    }
  
    .title-block:before {
      display: block;
      content: ".";
      color: transparent;
      border-left: 2px solid $smoky_grey;
      height: 100%;
      position: absolute;
      left: 0;
    }
  
    #command {
      color: $command_block_black;
      background-color: $white;
      padding: rem(10px);
      border: 2px solid $light_grey;
      word-wrap: break-word;
      display: table-cell;
      vertical-align: middle;
  
      a {
        font-size: 100%;
        color: $command_block_black;
        &:hover {
          color: $slate;
        }
      }

      pre {
        word-break: break-all;
        white-space: normal;
      }

      @media (max-width: 520px) {
        min-width: 160px;
      }
    }
  
    .command-container {
      display: flex;
      width: 100%;
      @include desktop {
        min-height: rem(110px);
      }
      pre {
        margin-bottom: 0px;
        padding: 10px;
        font-size: 75%;
        background-color: #f3f4f7;
      }
    }

    .command-block {
      height: rem(110px);
      word-wrap: break-word;
      color: $command_block_black;

      .command-text {
        color: $black;
      }
    }
    .command-block:before {
      border-left: 2px solid $black;
    }

    .highlight {
        position: relative;
    }
    .highlight pre {
        padding-right: 75px;
    }
    .highlight-copy-btn {
        position: absolute;
        bottom: 7px;
        right: 7px;
        border: 0;
        border-radius: 4px;
        padding: 1px;
        font-size: 0.7em;
        line-height: 1.8;
        color: #fff;
        background-color: #777;
        min-width: 55px;
        text-align: center;
    }
    .highlight-copy-btn:hover {
        background-color: #666;
    }
  
    .command-block {
      height: rem(110px);
      word-wrap: break-word;
      color: $command_block_black;
    }
  
    .command-block:before {
      border-left: 2px solid $black;
    }
  
    .quick-start-link {
      color: $dark_grey;
    }
  
    .mobile-heading {
      @include desktop {
        display: none;
      }
      display: flex;
      align-items: center;
      font-weight: 400;
    }

    .command-mobile-heading:before {
      border-left: 2px solid $black;
    }
  
    .command-mobile-heading {
      @include desktop {
        display: none;
      }
      display: flex;
      align-items: center;
      font-weight: 400;
      color: $black;
    }
  
    .headings {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
  
.community-start {
  // background: $light_grey;

  .col-md-3 {
    position: relative;
    width: 100%;
    // min-height: 1px;
  }

  @include small-desktop {
    .col-md-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
    @media (min-width: 1000px) {
      flex: 0 0 66%;
      max-width: 66%;
    }
    @media (min-width: 768px) and (max-width: 999px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }


.container {
  margin-left: 65px;
  margin-right: 65px;
  @include very-big-desktop {
    min-width: 2200px;
  }


}


  .community-title {
    width: 200px;
    text-align: left;
    margin-left: 80px;
    margin-right: 50px;
    p.lead.mt-2 {
      font-size: rem(17px);
      font-weight: 700;
      margin-bottom: 20px;
    }
    p.lead.mt-3 {
      font-size: rem(14px);
    }

    @media (max-width: 1000px) {
      width: 70%;
      margin-left: 80px;
    } 

    @include very-big-desktop {
      width: 500px;
      margin-right: 100px;
      margin-left: 80px;
    }
  }

  .community-col {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    justify-content: space-around;
    // margin-left: 55px;
    .row.community {
      flex-direction: row;
      // flex: 0 0 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      @media screen and (min-width: 1000px)  {
        
        flex-direction: row;
      }
    }
  }

  .community-col  .community-card {
    border-radius: 1px;
    border: none;
    height: rem(110px);
    word-wrap: normal;
    margin-bottom: rem(5px);
    display: flex;
    flex-direction: column;
    align-content: center;
    background: $medium_smoky_grey;
    
    @include max-width-desktop {
      height: 180px;
      overflow: inherit;
    }
  
    @media (min-width: 1000px) and (max-width: 1239px)  {
      height: 110px;
      overflow: inherit;
    }

    a {

      .card-body {
        // background-position: top rem(20px) right rem(20px);
        background-repeat: no-repeat;
        // padding: rem(25px) rem(10px);
        text-align: center;
        white-space: normal;
        @media (max-width: 520px) {
          height: rem(65px);
          min-width: 160px;
        }
      }
    }
  
    p.card-summary {
      font-size: rem(12px);
      margin-bottom: rem(5px);
      color: $light;
      white-space: normal;
    }
  

    h4, i {
      color: $light_white;
      margin-bottom: 0 rem(6px);
      text-overflow: ellipsis;
      font-size: rem(17px);  
      font-weight: 800
    }

    @include animated_border_hover_state;
    &:hover {
      h4, i, p.card-summary {
        color: $light_grey;
      }

    }

  }
  }


.custom-scroll {
    // width: 500px;
    height: inherit;
    overflow: scroll;
}
.custom-scroll::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 1px grey; 

  border-radius: 3px;
  background-color: $dark_grey;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $light_grey;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: $smoky_grey;
}
.custom-scroll::-webkit-scrollbar {
    max-width: 50px;
    height: 15px;

}

.component-start.grid-container {
  background-color: $slate;
  margin-left: 190px;
  margin-right: 190px;
  
  @include very-small-desktop {
    margin-left: 0px;
    margin-right: 0px;
  }
}

//ENABLE CSS GRID FOR LIFT OFF  
@supports(display: grid) {

  .component-start.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;

    //Let the craziness begin!!!
    grid-template-areas:
      // "title title title"
      "main main main";
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
        // "title"
        "main";
    }
  }

  .grid-item {
    background: $slate;
    padding: rem(10px);
    font-size: 1em;
    font-weight: 700;
    
  }
  

  .main {
    // color: lighten($light, 25%);
    background-color: #0C0A0B;
    grid-area: main;
    padding: 10px;
    overflow-x: scroll;
    // overflow-y: hidden;

  }
  .main::-webkit-scrollbar {
      display: none;
    }

  .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    user-select: none;
    cursor: pointer;
    a {
      font-size: 100%;
      color: $smoky_grey;
      text-align: center;
      &:hover {
        color: $light;
      }
    }

    .card-body {
      // width: 100%;
      flex: 0 0 100%;
      
      border-radius: 15px;
      background: $light_white;
      padding: 20px;
      border-radius: 5px;
      height: 500px;
      width: 800px;
      margin: 10px;
      @media screen and (max-width: 500px) {
        margin: 0px;
      }
  
      // h4, p, i {
      //   color: #0C0A0B;
      // }

      h4, i {
        color: $dark_grey;
        margin-bottom: rem(10px);
        text-overflow: ellipsis;
        font-size: rem(26px);  
        font-weight: 800;

        @include very-small-desktop {
          color: $dark_grey;
          margin-bottom: 0 rem(3px);
          text-overflow: ellipsis;
          font-size: rem(21px);  
          font-weight: 600
        }
      }

      p {
        color: $dark_grey;
        margin: rem(9px);
        text-overflow: ellipsis;
        font-size: rem(19px);  
      }
  
      @include animated_border_hover_state;
      &:hover {
        h4, i, p.card-summary {
          color: $primary;
        }
  
      }
    }
  }

  // .item.command,
  // .item.desktop {
  //   display: inline-block;
  //   vertical-align:top;
  //   background: #0C0A0B;
  //   min-height: 200px;
  //   min-width: 600px;
  //   margin: 2em 1em;
  //   // opacity: 0;
  //   transform: translate(5vh,0);
  //   transition: fadeIn 1s;
  //   @media screen and (max-width: 500px) {
  //     min-height: 200px;
  //     min-width: 200px;
  //   }
  // }

  .item.command,
  .item.desktop, 
  .item.containers {
    display: inline-block;
    vertical-align:top;
    background: #0C0A0B;
    padding-bottom: rem(100px);
    // min-height: 250px;
    // min-width: 600px;
    // margin: 2em 1em;
    opacity: 1;
    @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
      padding-bottom: rem(20px);
    }

  }


  // .item.active {
  //   // background: rgba(255,255,255,0.3);
  //   cursor: grabbing;
  //   cursor: -webkit-grabbing;
  //   transform: scale(1);
  // }

  .item.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
}

