/*

Add styles or override variables from the theme here.

*/

$primary: #0c0a0b;
$secondary: #434343;
$dark: #0c0a0b;
$light: #f5f5f5;
$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

$td-enable-google-fonts: true;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

$dark_grey: #6c6c6d;
$light_grey: #f3f4f7;
$slate: #262626;
$content_text_color: #6c6c6d;
$code_background_color: #f3f4f7;
$command_block_black: #6c6c6d;
$smoky_grey: #CCCDD1;
$medium_smoky_grey: #2c2c2c;
$light_white: #ffffff;
$mid_gray: #838282;

$desktop_header_height: 90px;
$mobile_header_height: 68px;
$desktop_footer_height: 560px;
$site_horizontal_padding: 30px;


@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

@mixin very-small-desktop {
  @media screen and (max-width: 768px) { @content; }
}

@mixin full-nav-menu-desktop {
  @media screen and (min-width: 1200px) { @content; }
}

@mixin nav-menu-desktop {
  @media screen and (max-width: 1199px) { @content; }
}

@mixin max-width-desktop {
  @media screen and (min-width: 1240px) { @content; }
}

@mixin very-big-desktop {
  @media screen and (min-width: 1940px) { @content; }
}

@mixin very-very-big-desktop {
  @media screen and (min-width: 2940px) { @content; }
}

@mixin small-desktop {
  @media (min-width: 768px) and (max-width: 1239px) { @content; }
}

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin code_font_family {
  font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin animated_border_hover_state {

    // &:after {
    //   background-color: $light_white;
    //   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    // }

    // &:hover:after {
    //   width: 100%;
    //   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    //   opacity: 0;
    //   transition: opacity 0.3s ease-in-out;
    // }
    &:hover {
      background-color: $slate;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      // opacity: 0.8;
      
      transition: background-color 0.3s ease-in-out;
    }
  
}

@keyframes fadeIn {
  0% { opacity: 0.4; }
  100% { opacity: 1; }
}