/*

Add styles or override variables from the theme here.

*/

$primary: #b7d886;
$secondary: #1e2a16;
$dark: #0c0e0a;
$light: #ffffff;
$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: false;

$success: #3772FF !default;
$info: #3772FF !default;
$warning: #ED6A5A !default;
$danger: #ED6A5A !default;

$td-enable-google-fonts: true;
$google_font_name: "Pontano Sans";
$google_font_family: "Pontano Sans:300,300i,400,400i,700,700i";

$light_green: #b7d886;
$ligheter_green: #d3e7b6;
$pale_lime_green: #f0f7e7;
$verdant_haze: #e6f1d6;

$dark_grey: #6c6c6d;
$light_grey: #f3f4f7;
$slate: #262626;
$content_text_color: #4f7b38;
$code_background_color: #f3f4f7;
$command_block_black: #4f7b38;
$smoky_grey: #CCCDD1;
$medium_smoky_grey: #2c2c2c;
$light_white: #ffffff;
$mid_gray: #838282;

// Hyperlink colors
$link-color: #4f7b38 !default;
$link-hover-color: #1e2a16 !default;

// Docsy-specific link variables
$td-link-color: #4f7b38 !default;
$td-link-color-hover: #1e2a16 !default;

// Sidebar and content links
$td-sidebar-nav-link-color: #4f7b38 !default;
$td-sidebar-nav-link-color-hover: #1e2a16 !default;

$desktop_header_height: 90px;
$mobile_header_height: 68px;
$desktop_footer_height: 560px;
$site_horizontal_padding: 30px;
$link-decoration: none !default;

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

@mixin very-small-desktop {
  @media screen and (max-width: 767px) { @content; }
}

@mixin full-nav-menu-desktop {
  @media screen and (min-width: 1200px) { @content; }
}

@mixin nav-menu-desktop {
  @media screen and (max-width: 1199px) { @content; }
}

@mixin max-width-desktop {
  @media screen and (min-width: 1240px) { @content; }
}

@mixin very-big-desktop {
  @media screen and (min-width: 1940px) { @content; }
}

@mixin very-very-big-desktop {
  @media screen and (min-width: 2940px) { @content; }
}

@mixin small-desktop {
  @media (min-width: 768px) and (max-width: 1239px) { @content; }
}

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin code_font_family {
  font-family: Menlo,Monaco,"Courier New",monospace;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin animated_border_hover_state {
    &:hover {
      background-color: $slate;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      transition: background-color 0.3s ease-in-out;
    }
  
}


@mixin animated_running_border {
  @include desktop {
    &:hover {
      background-color: $slate;
      box-shadow: 0 2px 8px rgba(0,0,0,0.3);
      transition: background-color 0.3s ease-in-out;
    }
    
    &:hover .card-body:after {
      width: 100%;
    }
  }
}

@keyframes t{
  to {background-size:200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

@keyframes borderAppear {    
  0% {    
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
    transition: background-color 0.3s ease-in-out;  
  }    
  50% {    
    box-shadow: none;    
  } 
}  