/*

Add styles or override variables from the theme here.

*/

$primary: #000000;
$secondary: #434343;
$dark: #000000;
$light: #f5f5f5;
$enable-gradients: false;
$enable-rounded: true;
$enable-shadows: false;

$td-enable-google-fonts: true;
$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";
