+++
title = "Neurodesk"
linkTitle = "Neurodesk"

+++

<section class="row td-box -bg-dark justify-content-left h-auto">
	<div class="col-md-3 col-lg-1 order-xs-first order-sm-first order-md-last text-center my-auto">
		<img src = "neurodesk.svg" style="height:250px;" alt="neurodesk logo"/>
	</div>
	<div class="col-md-9 col-lg-first order-xs-2 order-sm-2 order-md-2 my-auto">
		<h2>Neurodesk</h2>
		<p class="lead mt-2">A flexible, scalable, and browser-based data analysis environment for reproducible neuroimaging</p>
		
		<div class="mx-auto mt-5">
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/faq/#what-is-neurodesk">
			 What is Neurodesk ?</a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/neurodesktop/getting-started/play">
			<i class="fa fa-play"></i> Play </a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/neurodesktop/getting-started/cloud">
			<i class="fas fa-cloud"></i> Cloud </a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/neurodesktop/getting-started/nectar">
			<i class="fa fa-desktop"></i> Nectar </a>
			<a class="btn btn-lg btn-secondary mr-3 mb-4" href="docs/neurocontainers/googlecolab/">
			<i class="fab fa-google"></i> Google Colab </a>
		</div>
	</div>
</section>

<section class="row -bg-light justify-content-left h-auto">
	<div class="td-box">
	<h2 >Get started with Neurodesk</h2>
	<p class="lead mt-2">Select your setups and follow further instructions in the provided link.
	</p>
	</div>
	<div class="container-fluid quick-starts">

		<div class="container">
			<div class="row">
				<div class="col-md-10 start-locally-col">

					<div class="row">
						<div class="col-md-3 headings">
							<div class="col-md-12 title-block">
								<div class="option-text">Location</div>
							</div>
							<div class="col-md-12 title-block">
								<div class="option-text">Compute Platform</div>
							</div>
							<div class="col-md-12 title-block">
								<div class="option-text">Your OS</div>
							</div>
							<div class="col-md-12 title-block">
								<div class="option-text">Interface</div>
							</div>
							<div class="col-md-12 title-block">
								<div class="option-text">Processor</div>
							</div>
							<div class="col-md-12 title-block command-block">
								<div class="option-text command-text">Run this Command:</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="row country">
								<div class="col-md-12 title-block mobile-heading">
									<div class="option-text">Your Location</div>
								</div>
								<div class="col-md-6 option block" id="aus">
									<div class="option-text">Australian based researcher</div>
								</div>
								<div class="col-md-6 option block" id="intl">
									<div class="option-text">International researcher</div>
								</div>
							</div>

							<div class="row platform">
								<div class="col-md-12 title-block mobile-heading">
									<div class="option-text">Compute Platform</div>
								</div>
								<div class="col-md-3 option block version" id="local">
									<div class="option-text">Local PC</div>
								</div>
								<div class="col-md-2 option block version" id="hpc">
									<div class="option-text">HPC</div>
								</div>
								<div class="col-md-2 option block version" id="cloud">
									<div class="option-text">Cloud</div>
								</div>
								<div class="col-md-2 option block version" id="nectar">
									<div class="option-text">Nectar</div>
								</div>
								<div class="col-md-3 option block version" id="colab">
									<div class="option-text">Google Colab</div>
								</div>
							</div>

							<div class="row os">
								<div class="col-md-12 title-block mobile-heading">
									<div class="option-text">Operating System</div>
								</div>
								<div class="col-md-4 option block" id="linux">
									<div class="option-text">Linux</div>
								</div>
								<div class="col-md-4 option block" id="macos">
									<div class="option-text">Mac</div>
								</div>
								<div class="col-md-4 option block" id="windows">
									<div class="option-text">Windows</div>
								</div>
							</div>

							<div class="row interface">
								<div class="col-md-12 title-block mobile-heading">
									<div class="option-text">Interface</div>
								</div>
								<div class="col-md-3 option block version selected" id="gui">
									<div class="option-text">Desktop</div>
								</div>
								<div class="col-md-3 option block version" id="cmd">
									<div class="option-text">Command Line</div>
								</div>
								<div class="col-md-3 option block version" id="container">
									<div class="option-text">Container</div>
								</div>
								<div class="col-md-3 option block version" id="vscode">
									<div class="option-text">VSCode</div>
								</div>
							</div>

							<div class="row processor">
								<div class="col-md-12 title-block mobile-heading">
									<div class="option-text">Processor</div>
								</div>
								<div class="col-md-4 option block" id="x86">
									<div class="option-text">x86</div>
								</div>
								<div class="col-md-4 option block" id="arm">
									<div class="option-text">ARM</div>
								</div>
								<div class="col-md-4 option block" id="gpu">
									<div class="option-text">GPU</div>
								</div>
							</div>

							<div class="row">
							<div class="col-md-12 title-block command-mobile-heading">
								<div class="option-text">Run this Command:</div>
							</div>
							<div class="command-container">
								<div class="col-md-12" id="command">
									<!-- <pre class="command-line language-bash" data-prompt="$"  >
										<code>docker run --shm-size=1gb -it --privileged --name neurodesktop -v ~/neurodesktop-storage:/neurodesktop-storage -p 8080:8080 -h neurodesktop-20221216 vnmd/neurodesktop:20221216</code>
									</pre> -->
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>	

<section class="row td-box -bg-dark justify-content-left h-auto">
<!-- {{< blocks/section color="dark" >}} -->
<div class="col-md-12">
	<h2 >Neurodesk Components</h2>
	<p class="lead mt-2">Details of each components within Neurodesk infrastructure.</p>
</div>

{{% blocks/feature icon="far fa-window-maximize" title="Neurodesktop" url="docs/neurodesktop" %}}
Fully featured desktop in a container
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-terminal" title="Neurocommand" url="docs/neurocommand" %}}
Core installer
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-layer-group" title="Neurocontainers" url="docs/neurocontainers" %}}
Software container library
{{% /blocks/feature %}}
<!-- {{< /blocks/section >}} -->
</section>

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fas fa-question-circle" title="FAQ" url="docs/faq/#what-is-neurodesk" %}}
Frequently Asked Questions
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-envelope" title="Discussions" url="https://github.com/orgs/NeuroDesk/discussions" %}}
Ask questions, suggest new features or raise any issues you have (Github account required)
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-users" title="Contributors" url="developers/contributors" %}}
Contributors
{{% /blocks/feature %}}
{{< /blocks/section >}}

<script src="/js/command.js"></script>
