name: github pages

on:
  push:
    branches:
      - hugo-docsy  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Change baseURL (if fork)
        if: github.repository != 'NeuroDesk/neurodesk.github.io'
        run: sed -i "s|https://neurodesk.github.io|https://${GITHUB_REPOSITORY}|g" config.toml

      - name: Download appslist.json
        run: wget -O data/appslist.json https://raw.githubusercontent.com/NeuroDesk/neurocommand/main/cvmfs/applist.json

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
          
      - name: Setup Node
        uses: actions/setup-node@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            
      - run: npm ci
      
      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/hugo-docsy'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public